.test-phone{
    position: fixed;
    right: 20px;
    top: 80px;
    z-index: 3;
    border: 1px solid #DFDFDF;
    background: #fff;
    border-radius: 10px;
    padding: 20px 10px 10px 10px;
    width: 395px;
    box-shadow: 0px 0px 4px #333333;
}
.test-phone .phone-dot{
    position: absolute;
    top: 9px;
    left: 50%;
    width: 40px;
    margin-left: -15px;
    border-style: dotted;
    background: #DFDFDF;
    border-radius: 2px;
}
.test-phone .phone-header{
    background: #000;
    height: 20px;
    padding: 0 5px;
}
.test-phone img{
    width: 100%;
}
.test-phone .phone-footer{
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.test-phone .phone-footer i{
    font-size: 40px;
    color: #dfdfdf;
}
#mobileDemo{
    padding-top: 10px;
    background: #f5f5f9;
    overflow: auto;
    padding-bottom: 20px;
    height: 667px;
}
#mobileDemo .demo-item .demo-item-title{
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#mobileDemo .demo-item pre code p{
    margin: 0;
}