<div class="doc-content">
    <%- docs %>
    <div id="theme-app"></div>
    
    <div class="changelog">
        <% include changelog.html %>
    </div>
</div>
<% if(isComponent){ %>
    <div class="test-phone">
        <div class="phone-dot">
            
        </div>
        <div class="phone-header">
            <img src="https://os.alipayobjects.com/rmsportal/VfVHYcSUxreetec.png"/>
        </div>
        <div id="mobileDemo">
            <iframe src="<%= iframeUrl %>"></iframe>
        </div>
        <div class="phone-footer">
            <i class="uf uf-stop-c"></i>
        </div>
    </div>
<% } %>


<!-- <div class="right-menus">
    <% include rightMenus.html %>
</div> -->


<script src="//iuap-design-cdn.oss-cn-beijing.aliyuncs.com/static/tinper-bee/theme/config.js"></script>
<script async src="//www.googletagmanager.com/gtag/js?id=UA-109836800-1"></script>
