<div class="u-row nav">
    <div class="u-col-md-5 nav-left">
        <span class="nav-logo ">
            <a href="/">
                <img src="https://easyux-test.faw.cn/uiux-doc/img/faw-logo.9539bdec.svg">
                <span class='version'>V<%= latestVersion %></span>
            </a>
        </span>
        <span class="nav-split">|</span>
    </div>
    <div class="u-col-md-7 nav-right">
        <ul class="nav-options">
            <li>
                <a href="/">首页</a>
            </li>
            <li>
                <a href="/tinper-bee">基础组件</a>
            </li>
            <li>
                <a href="#">应用组件</a>
            </li>
            <li>
                <a href="/tinper-faw">一汽组件</a>
            </li>
        </ul>
    </div>
</div>
